@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #a3a3a3;
  font-family: "Roboto", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.page-layout {
  display: grid;
  grid-template-areas:
    "nav main friend-activity"
    "footer footer footer";
  width: 100vw;
  height: 100vh;
}
main {
  grid-area: main;
  width: 62vw;
  background-color: #222;
  padding: 1.5em 2em;
}
.main-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-navigation {
  display: flex;
  width: 5.5vw;
  height: 6vh;
  justify-content: space-between;
  align-items: center;
}
.main-navigation i {
  font-size: 190%;
  color: grey;
  background-color: transparent;
  cursor: pointer;
}
.main-navigation i:hover {
  opacity: 0.7;
}
.profile {
  display: flex;
  align-items: center;
  max-width: 10vw;
  min-width: fit-content;
  justify-content: space-between;
  border-radius: 1.5rem;
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.profile img {
  width: 2rem;
  height: 2rem;
}
.profile img:hover {
  opacity: 1;
}
.profile p {
  color: #fff;
  font-weight: bold;
  cursor: default;
}
.profile span {
  color: white;
  font-size: 190%;
  cursor: pointer;
}
.profile span:hover {
  opacity: 0.5;
}
.left {
  grid-area: nav;
  padding-top: 8vh;
  padding-left: 10%;
  background-color: #000;
  height: 100%;
  width: 20vw;
}
.right {
  grid-area: friend-activity;
  padding-top: 2vh;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 18vw;
  background-color: #000;
  height: 100%;

}

footer {
  grid-area: footer;
  background-color: #404040;
  z-index: 1;
  width: 100%;
  height: 18vh;
  position: fixed;
  bottom: 0;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 85%;
  border-bottom: solid gainsboro 0.1rem;
  margin-bottom: 1em;
  position: sticky;
  top: 8vh;
  margin-right: 1.2rem;
}

.links-container > * {
  margin-bottom: 1em;
}
.links {
  display: flex;
  gap: 1em;
  cursor: pointer;
  align-items: center;
  font-weight: bold;
}

.links > span:hover {
  color: white;
}
.liked > span:first-of-type {
  color: #b65fcf;
}
.liked > span:first-of-type:hover {
  color: #780199;
}

a {
  text-decoration: none;
}
a:hover {
  color: #fff;
}
li {
  list-style: none;
}
.playlist {
  margin-top: 1.5em;
}
.dplaylists {
  overflow-y: auto;
  height: 48%;
}
.dplaylists ul > li {
  margin-bottom: 0.5em;
  font-size: 90%;
}
.friend-label {
  font-size: 90%;
  font-weight: bold;
  padding-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.friend-label > span {
  cursor: pointer;
}
.friend-label > span:hover {
  color: white;
}

img {
  width: 4rem;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid;
  border-radius: 50%;
  cursor: default;
  border: none;
}
img:hover {
  opacity: 0.5;
}

.recent {
  display: flex;
  font-size: 80%;
  align-items: center;
  justify-content: space-around;
}
.recent-users > * {
  margin-bottom: 2rem;
}
.recent-dashboard {
  display: flex;
  flex-direction: column;
}
.recent-name-day {
  display: flex;
}
.recent-name-day > p:nth-child(1) {
  text-transform: uppercase;
  font-size: 120%;
  font-weight: bold;
  flex: 1;
}
.recent-name-day > p:nth-child(2) {
  margin-left: 5rem;
}
.recent-album {
  display: flex;
  align-items: center;
}
.recent-album span {
  font-size: inherit;
}

@media only screen and (max-width: 800px) {
  .links > a {
    display: none;
  }
  .links span {
    font-size: 180%;
  }
  .liked span:last-of-type {
    display: none;
  }
  .links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-navigation i {
    font-size: 1.5rem;
    margin-left: 0.25em;
  }
  .profile p,
  .profile span {
    display: none;
  }
  .right {
    display: none;
  }
  main {
    width: 80vw;
  }
  .saved-tracks{
    padding-right: 0.5em;
  }
}

@media only screen and (max-width: 1300px) {
  .recent {
    flex-direction: column;
    font-size: 90%;
  }
  .recent-name-day > p:nth-child(2) {
    display: none;
  }
  .recent-name-day > p:nth-child(1) {
    text-align: center;
    margin-top: 0.5em;
  }
  .recent-dashboard {
    justify-content: center;
    font-size: 70%;
  }
}
